# This is the nebula configuration file.
# example configuration can be found at: https://github.com/slackhq/nebula/blob/master/examples/config.yml

pki:
  # The CAs that are accepted by this node. Must contain one or more certificates created by 'nebula-cert ca'
  ca: {{ nebula_certificate_location }}/ca.crt
  cert: {{ nebula_certificate_location }}/{{ ansible_hostname }}.crt
  key: {{ nebula_certificate_location }}/{{ ansible_hostname }}.key

# The static host map defines a set of hosts with fixed IP addresses on the internet (or any network).
# A host can have multiple fixed IP addresses defined here, and nebula will try each when establishing a tunnel.
{% if nebula_lighthouse is false %}
static_host_map:
  "{{ hostvars[groups['lighthouse'][0]].nebula_ip }}": ["{{ hostvars[groups['lighthouse'][0]].ansible_default_ipv4.address }}:{{ nebula_lighthouse_port }}"]
{% endif %}

lighthouse:
  am_lighthouse: {{ nebula_lighthouse | lower }}
  interval: 60
{% if nebula_lighthouse is false %}
  hosts:
    - "{{ hostvars[groups['lighthouse'][0]].nebula_ip }}"
{% endif %}

listen:
  host: '[::]'
  port: {{ nebula_lighthouse_port }}

punchy:
  punch: true

# Configure the private interface. Note: addr is baked into the nebula certificate
tun:
  disabled: false
  dev: nebula1
  drop_local_broadcast: false
  drop_multicast: false
  tx_queue: 500
  mtu: 1300
{% if nebula_extra_subnet is defined %}
  unsafe_routes:
    - route: {{ nebula_extra_subnet }}/24
      via: {{ nebula_ip }}
      mtu: 1300
      metric: 100
{% endif %}

logging:
  level: info
  format: text

# Nebula security group configuration
firewall:
  conntrack:
    tcp_timeout: 12m
    udp_timeout: 3m
    default_timeout: 10m
    max_connections: 100000

  outbound:
{% for item in nebula_firewall_outbound_policies %}
    - port: {{item.port}}
      proto: {{item.proto}}
      host: {{item.host }}
{% endfor %}
  
  inbound:
{% for item in nebula_firewall_inbound_policies %}
    - port: {{item.port}}
      proto: {{item.proto}}
      host: {{item.host }}
{% endfor %}
